<% if signed_in? %>
  <div class="row">
    <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to The Spread Happiness Project !</h1>

    <h2> What is the Spread Happiness Project? </h2>
			<p>
				Hi, if you end up here it's probably because an adorable person approached you and simply try to make your day a little <strong>BRIGHTER.</strong><br>
				And that's the Spread Happiness Project. Now your mission if you accept it is to follow his/her path and <strong>spread the smile</strong> around you.<br>
			</p>
			<h2>2 simple steps to be part of this project:</h2>
			<p>
				<ol>
					<li> Talk to a stranger and make his day (be creative!) Here are some examples:
						<ul>
							<li>"God talk to me last night. And he told me to make someone laugh." </li>
							<li>or simply "Hi, I'm gonna make you laugh"</li>
							<li>Or whatever come in you mind</li>
						</ul>
					</li>
					<li>
						At the end, give him a paper with the website name and your name/nickname so he can engrave your encounter forever here.
					</li>
				</ol>
			</p>
			<h2>What's the website for?</h2>
			<p>
				Now <strong>if you want</strong> you can register to the website, find the guy/gal who made your day and engrave forever your encounter !
			</p>
		
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>